{% extends 'base.html' %}

{% block title %}Request Reset Password{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5 col-lg-7">
            <div class="card p-4" style="width: 100%; max-width: 420px; margin: auto;">
                <form method="POST" action="{{url_for('auth.request_reset_password', token=token, user_id=user_id)}}" onsubmit="ValidateUser()" class="form">
                    <div class="text-center mb-4">
                        <h3 class="text-danger fw-bold">Request Password Reset</h3>
                    </div>
                    <div class=" mb-3">
                    <label for="new-password" class="form-label">New Password</label>
                    <div class="input-group">
                        <input name="new-password" type="password" class="form-control" id="new-password" placeholder="Enter your password"
                            required>
                        <div class="input-group-append">
                            <span class="input-group-text" id="togglePassword" style="cursor: pointer;">
                                <i class="fa fa-eye" id="toggleIcon"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="confirm-password" class="form-label">Confirm Password</label>
                    <div class="input-group">
                        <input name="confirm-password" type="password" class="form-control" id="confirm-password"
                            placeholder="Confirm your password" required>
                        <div class="input-group-append">
                            <span class="input-group-text" id="toggleConfirmPassword" style="cursor: pointer;">
                                <i class="fa fa-eye" id="toggleConfirmIcon"></i>
                            </span>
                        </div>
                    </div>
                </div>
                    <button type="submit" class="btn btn-danger">Send Reset Instructions</button>
                    <p>
                        or <br>
                        <a href="/login">Login?</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password1 = document.querySelector('#new-password');
    const toggleIcon = document.querySelector('#toggleIcon');
    const toggleConfirmPassword = document.querySelector('#toggleConfirmPassword');
    const confirmPassword1 = document.querySelector('#confirm-password');
    const toggleConfirmIcon = document.querySelector('#toggleConfirmIcon');

    togglePassword.addEventListener('click', function () {
        const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
        password1.setAttribute('type', type);
        toggleIcon.classList.toggle('fa-eye');
        toggleIcon.classList.toggle('fa-eye-slash');
    });

    toggleConfirmPassword.addEventListener('click', function () {
        const type = confirmPassword1.getAttribute('type') === 'password' ? 'text' : 'password';
        confirmPassword1.setAttribute('type', type);
        toggleConfirmIcon.classList.toggle('fa-eye');
        toggleConfirmIcon.classList.toggle('fa-eye-slash');
    });

    function resetPasswordRequest() {

        const newPassword = document.getElementById('new-password').value;
        const confirmPassword = document.getElementById('confirm-password').value;

        if (newPassword != confirmPassword) {
            alert("Your new password must be the same as confirm password!")
        }
        if (newPassword.length < 8){
            alert("Your new password must be more than 8 characters!")
        }

    }
</script>
{% endblock %}