{% extends "base.html" %}

{% block title %}Reset Password {% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5 col-lg-7">
            <div class="card p-4" style="width: 100%; max-width: 420px; margin: auto;">
                <form onsubmit="resetPassword(event)" class="form">
                    <div class="text-center mb-4">
                        <h3 class="text-danger fw-bold">Enter your Email to Reset Password</h3>
                    </div>
                    <div class="mt-3" style="margin-bottom: 10px;">
                        <label for="reset-email" class="form-label">Email:</label>
                        <input type="email" class="form-control" name="reset-email" id="reset-email" placeholder="Enter the email you used to register!" required>

                    </div>
                    <button id="email-request" type="submit" class="btn btn-danger">
                        
                        <i class="fa fa-envelope"></i> Send Reset Instructions

                    </button>
                    <p>
                        or <br>
                        <a href="/login">Login?</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    async function resetPassword(event) {
        event.preventDefault();

        const email = document.getElementById("reset-email").value;

        if (!email){
            alert("Please enter your email address!")
        }

        const requestRestPasswordBtn = document.getElementById('email-request');
        requestRestPasswordBtn.disabled = true;

        requestRestPasswordBtn.innerHTML = `<span class="spinner-border spinner-border-sm"></span> requesting...`;

        showLoading('Sending request...');
        
        const res = await authFetch("/forget-password", {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({email:email})
        })

        const data = await res.json();

        if (res.ok){
            requestRestPasswordBtn.disabled = false;
            requestRestPasswordBtn.innerHTML = `<i class="fa fa-envelope"></i> Send Reset Instructions`;
            hideLoading();

            alert("Kindly check your email for password reset instructions!")
            window.location.href = "/login";
        }
        else {
            requestRestPasswordBtn.disabled = false;
            requestRestPasswordBtn.innerHTML = `<i class="fa fa-envelope"></i> Send Reset Instructions`;
            hideLoading();
            alert(data.error || "Password reset link failed. Kindly enter the correct email!")
        }
    }
</script>
{% endblock %}